name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3.6
        bundler-cache: true
    - name: Add x86_64-linux platform
      run: bundle lock --add-platform x86_64-linux
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake